.app.dark {
    --bg-color: #060b5e;
    --inverted-bg-color: #ccc;
    --primary-color: yellow;
    --secondary-color: #fff;
    --inverted-primary-color: #067f1e;
    --inverted-secondary-color: #31313a;
}
