:root {
    --bg-color: #c8eff9;
    --inverted-bg-color: #558dca;
    --primary-color: #022449;
    --secondary-color: #f27d42;
    --inverted-primary-color: #d1e8e2;
    --inverted-secondary-color: #d1e8e2;
}
